
*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    overflow:hidden;
}

#app{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(90deg,rgba(19, 26, 27, 0),rgba(19, 26, 27, 0.95) 50%,rgba(19, 26, 27, 0.95) 100%);
}

.animation{
    position: absolute;
    width: 29.875vw;
    height: 100%;
    top: 0;
    right: 0;
}
